body{
    background-color:blanchedalmond;

}
button{
    color:white;
    background-color: blue;
}
.heading{
    color:chocolate;

}
.box{
    height:70px;
    width:70px;
    border: 2px solid black; 
    margin: 20px;
    text-align: center;

}